# IDE-related
/.idea

# caches
**/__pycache__
/.mypy_cache
/.pytest_cache
/.ruff_cache

# virtual environment
/venv

# coverage-related
/.coverage-reports
/.coverage
/coverage.xml

# generated documentation
/docs
/.docs

# distribution-related
/build
/dist
*.egg-info
